body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  color: #333;
}

header,
main {
  max-width: 800px;
  margin: 0 auto;
}

.botoes-principais {
  margin-bottom: 30px;
}

.botoes-principais button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #4CAF50;
  /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
}

.botoes-principais button:hover {
  background-color: #45a049;
}

#container-exemplo {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  min-height: 300px;
}

#container-exemplo .placeholder {
  color: #888;
  font-size: 1.2em;
  padding-top: 50px;
}

h1,
h2,
h3 {
  color: #2c3e50;
}

input {
  width: calc(100% - 18px);
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


#container-exemplo form {
  display: inline-block;
}

#container-exemplo button {
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#container-exemplo button:hover {
  background-color: #2980b9;
}

#notasContainer,
#resultadoMedia,
#saida,
#listaFrutas {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
  white-space: pre-wrap;
  text-align: left;
}